# Binaries
/life-forge
cmd/life-forge/life-forge

# Environment variables
.env
.env.local
.env.*.local

# Dependencies
vendor/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# google calendar
credentials.json
token.json